.b1{
background-color:#aedddd;
color: #ffffff;
}
.b2{
    background-color: #8c8c8c; 

    color: #ffffff;
}
.b3{
    background-color: #ffffff; 
    color: #555555;
}
.container-fluid {

    padding-top: 70px;

    padding-bottom: 70px;

  }
  .img-width{
    width:100%;
  }

  